---
layout: default
---

<h1>{{ page.title }}</h1>
<p>{{ page.description }}</p>

<div class="rounded-md bg-primary-300 dark:bg-primary-800 p-4 mb-4">
    <ul class="my-0">
        {% if page.skills and page.skills.size > 0 %}
        <li class="mb-3">
            <div class="flex flex-row gap-2 items-center">
                <p class="my-0 mr-1">Skills: </p>
                {% for skill in page.skills %}
                <div
                    class="bg-primary-500 dark:bg-primary-900 text-sm py-1 text-primary-200 dark:text-primary-400 items-center px-2 rounded-md flex flex-row gap-2 h-fit">
                    {% include icon.html name=skill.icon class="w-4 h-4" %}{{ skill.name }}
                </div>
                {% endfor %}
            </div>
        </li>
        {% endif %}

        {% if page.start_date or page.end_date %}
        <li class="mb-3">
            <div class="flex flex-row flex-wrap items-center gap-4">
                {% if page.start_date %}
                <div class="flex flex-row items-center gap-2">{% include icon.html name="fa-play" class="w-4 h-4"
                    %}<span>Started {{
                        page.start_date | date: "%b %Y" }}</span></div>
                {% endif %}
                {% if page.end_date %}
                <div class="flex flex-row items-center gap-2">{% include icon.html name="fa-flag-checkered" class="w-4
                    h-4" %}<span>Ended {{
                        page.end_date | date: "%b %Y" }}</span></div>
                {% else %}
                <div class="flex flex-row items-center gap-2">{% include icon.html name="fa-arrows-rotate" class="w-4
                    h-4" %}<span>Ongoing</span>
                </div>
                {% endif %}
            </div>
        </li>
        {% endif %}

        {% if page.links and page.links.size > 0 %}
        <li class="mb-3">
            <div class="flex flex-row flex-wrap items-center gap-3">
                {% for link in page.links %}
                <div class="flex flex-row items-center gap-2">{% include icon.html name=link.icon class="w-4 h-4" %}<a
                        class="no-external-icon" href="{{ link.url }}">{{ link.title }}</a></div>
                {% endfor %}
            </div>
        </li>
        {% endif %}

        {% assign has_links = false %}
        {% if page.links and page.links.size > 0 %}
        {% assign has_links = true %}
        {% endif %}

        {% if page.website and has_links == false %}
        <li>
            <div class="flex flex-row items-center gap-3">{% include icon.html name="fa-link" class="w-4 h-4" %}<a
                    href="{{ page.website }}">Visit
                    the website</a></div>
        </li>
        {% endif %}

        {% if page.video %}
        <li>
            <div class="flex flex-row items-center gap-3">{% include icon.html name="fa-file-lines" class="w-4 h-4" %}<a
                    href="{{ page.video }}">Watch the recap</a></div>
        </li>
        {% endif %}
    </ul>
</div>

<div class="content">
    {{ content }}
</div>
<footer>
    <h3>See also</h3>
    {% include related.html %}
</footer>